[Unit]
Description=Cool LEDs

[Service]
ExecStart=/home/pi/Documents/LEDMapper/venv/bin/python /home/pi/Documents/LEDMapper/ledMapper.py

[Install]
WantedBy=multi-user.target

